---
import Layout from "../layouts/Layout.astro";
import { formatKey } from "../utils/helper";
import { holidays } from "../utils/holidays";
---

<Layout title="How Many Days Until...">
  <main>
    <div class="mx-2 grid grid-cols-4 gap-4">
      {
        holidays.map((item) => (
          <a href={`/${item.key}`} class="btn">
            {formatKey(item.key)}
          </a>
        ))
      }
    </div>

    <ul>
      <!-- cards -->
    </ul>
  </main>
</Layout>
