---
import Layout from "../layouts/Layout.astro";
import { capitalizeFirstLetter } from "../utils/helper";
import { holidays } from "../utils/holidays";
---

<Layout title="How Many Days Until...">
  <main>
    <h1>Home</h1>
    <div class="flex gap-2">
      {
        holidays.map((item) => (
          <a href={`/${item.key}`} class="btn">
            {capitalizeFirstLetter(item.key)}
          </a>
        ))
      }
    </div>

    <ul>
      <!-- cards -->
    </ul>
  </main>
</Layout>
