---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import seasons from "../utils/seasons";
import holidays from "../utils/holidays";
import { getNextSeason } from "../utils/helper";

const nextSeason = getNextSeason(new Date(), seasons);
// const sorted = holidays.sort((a, b) => new Date(a.date) - new Date(b.date));
const sorted = holidays
  .filter(
    (holiday) =>
      holiday.countryCode === "global" || holiday.countryCode === "US",
  )
  .sort((a, b) => new Date(a.date) - new Date(b.date));
---

<Layout title="How Many Days Until...">
  <main>
    <div class="mx-2">
      <ul class="grid grid-cols-1 gap-3 lg:grid-cols-4">
        <div class="row-span-2 lg:col-span-2">
          <Card date={nextSeason} isSeason={true} />
        </div>
        {sorted.map((holiday) => <Card date={holiday} />)}
      </ul>
    </div>
  </main>
</Layout>
