---
import { fetchCountryName } from "../utils/helper";

const { code } = Astro.props;

const countryName = await fetchCountryName(code);
---

<li>
  <a
    ><div class="card image-full card-compact bg-base-100 shadow-xl">
      <figure>
        <img src="/images/countries/us.webp" alt=`flag Image` />
      </figure>
      <div class="card-body">
        <div class="flex justify-center">
          <h2 class="text-2xl font-semibold tracking-wide md:text-4xl">
            {countryName} Holidays
          </h2>
        </div>
      </div>
    </div></a
  >
</li>
