---
import NavItem from "./NavItem.astro";
import seasons from "../utils/seasons";
import holidays from "../utils/holidays";
import { formatKey } from "../utils/helper";
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="mr-2 text-xl font-semibold">DaysUntil</a>
    <NavItem title="Holidays">
      {
        holidays.map((holiday) => (
          <li>
            <a href={`/${holiday.key}`}>{formatKey(holiday.key)}</a>
          </li>
        ))
      }
    </NavItem>
    <NavItem title="Seasons">
      {
        seasons.map((season) => (
          <li>
            <a href={`/${season.key}`}>{formatKey(season.key)}</a>
          </li>
        ))
      }
    </NavItem>
  </div>
  <div class="navbar-end hidden lg:flex">
    <!-- search? -->
  </div>
</div>
